.pod-info {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    border-left-style: solid;
    border-left-width: 2px;
    border-left-color: #722bc4;
    height: 70vh;
    width: 30vw;
    padding-right: 15px;
}

.pod-info-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2px;
    margin-bottom: 2px;
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
}

.doughnut-container {
    display: flex;
    height: 35%;
    width: 35%;
    
}

.pod-info-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #722bc4;
    font-size: 1.3em;
    font-weight: 600;
    margin-top: 5px;
}